@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply h-full overflow-x-hidden font-normal dark:text-slate-300 text-slate-600;
  }
  body.light,
  body.skin--default {
    @apply bg-slate-100;
  }
  body.lght,
  body.skin--bordered {
    @apply bg-transparent;
  }
  body.dark {
    @apply bg-[#0f172a] text-slate-300;
  }
  html,
  body {
    @apply h-full;
  }
  .space-xy-5 > div,
  .space-xy-5 > button,
  .space-xy-5 > a,
  .space-xy-5 label,
  .space-xy-5 > * {
    @apply mb-2 mr-2;
  }
  .space-xy-6 > div,
  .space-xy-6 > button,
  .space-xy-6 > a,
  .space-xy-6 label,
  .space-xy-6 > * {
    @apply mb-2 mr-4;
  }
  html[dir="rtl"] .recharts-wrapper {
    direction: rtl;
  }
  html[dir="rtl"] .recharts-yAxis .recharts-text {
    text-anchor: start;
  }
}
@layer components {
  .table-th {
    @apply px-2 py-2 text-xs font-semibold uppercase text-slate-600 dark:text-slate-300 ltr:text-left rtl:text-right;
  }
  .table-td {
    @apply px-2 py-2 text-sm font-normal capitalize text-slate-600 dark:text-slate-300 border-slate-100 dark:border-slate-700;
  }
  .table-checkbox {
    @apply relative before:flex before:flex-col before:items-center before:justify-center
  before:w-[18px] before:h-[18px] before:m-[-0.7px] before:bg-slate-100 dark:before:bg-slate-500  before:absolute
    before:inset-0 before:rounded w-4 h-4 rounded checked:before:bg-slate-900
    checked:before:content-[url("https://api.iconify.design/heroicons-outline/check.svg?color=white")] checked:before:leading-[10px]
    checked:before:ring-2 checked:before:ring-black-500
    checked:before:ring-offset-2 checked:before:dark:ring-slate-700
    checked:before:dark:ring-offset-0;
  }
  .progress {
    @apply h-2 bg-slate-900 dark:bg-slate-700;
  }
  .progress .progress-bar.stripes {
    background-image: linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.15) 25%,
      transparent 0,
      transparent 50%,
      hsla(0, 0%, 100%, 0.15) 0,
      hsla(0, 0%, 100%, 0.15) 75%,
      transparent 0,
      transparent
    );
    background-size: 0.857rem 0.857rem;
  }
  @keyframes progress-bar-stripes {
    0% {
      background-position: 1rem 0;
    }
    to {
      background-position: 0 0;
    }
  }
  .animate-stripes {
    animation: progress-bar-stripes 1s linear infinite;
  }
  .main-caro .swiper-button-next:after,
  .main-caro .swiper-button-prev:after {
    font-family: unset !important;
    @apply rtl:rotate-180;
  }
  .main-caro .swiper-button-next:after {
    content: url("https://api.iconify.design/heroicons-outline/chevron-right.svg?color=white&width=24");
  }
  .main-caro .swiper-button-prev:after {
    content: url("https://api.iconify.design/heroicons-outline/chevron-left.svg?color=white&width=24");
  }
  .main-caro .swiper-pagination-bullet {
    height: 2px;
    width: 24px;
    @apply rounded-[1px] bg-white bg-opacity-70;
  }
  .main-caro .swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply bg-opacity-100;
  }
  .alert {
    @apply py-[18px] px-6 font-normal text-sm rounded-md;
  }
  .alert-primary {
    @apply text-white bg-primary-500;
  }
  .alert-primary.light-mode {
    @apply bg-opacity-[14%] text-primary-500;
  }
  .alert-secondary {
    @apply text-white bg-secondary-500;
  }
  .alert-secondary.light-mode {
    @apply bg-opacity-[14%] text-slate-900;
  }
  .alert-success {
    @apply text-white bg-success-500;
  }
  .alert-success.light-mode {
    @apply bg-opacity-[14%] text-success-500;
  }
  .alert-danger {
    @apply text-white bg-danger-500;
  }
  .alert-danger.light-mode {
    @apply bg-opacity-[14%] text-danger-500;
  }
  .alert-warning {
    @apply text-white bg-warning-500;
  }
  .alert-warning.light-mode {
    @apply bg-opacity-[14%] text-warning-500;
  }
  .alert-info {
    @apply text-white bg-info-500;
  }
  .alert-info.light-mode {
    @apply bg-opacity-[14%] text-info-500;
  }
  .alert-light {
    @apply bg-slate-100 text-slate-900;
  }
  .alert-light.light-mode {
    @apply text-slate-500;
  }
  .alert-dark {
    @apply text-white bg-slate-900;
  }
  .alert-dark.light-mode {
    @apply bg-opacity-[54%] text-slate-100;
  }
  .alert-outline-primary {
    @apply border border-primary-500 text-primary-500;
  }
  .alert-outline-secondary {
    @apply border border-secondary-500 text-secondary-500;
  }
  .alert-outline-success {
    @apply border border-success-500 text-success-500;
  }
  .alert-outline-danger {
    @apply border border-danger-500 text-danger-500;
  }
  .alert-outline-warning {
    @apply border border-warning-500 text-warning-500;
  }
  .alert-outline-info {
    @apply border border-info-500 text-info-500;
  }
  .alert-outline-light {
    @apply border border-slate-200 text-slate-600;
  }
  .alert-outline-dark {
    @apply border border-slate-900 text-slate-900;
  }
  .card-title {
    @apply font-medium  capitalize md:text-xl md:leading-[28px] text-lg leading-[24px]  text-slate-900 dark:text-white;
  }
  .card-subtitle {
    @apply mt-1 text-sm font-medium leading-5 text-slate-600 dark:text-slate-300;
  }
  .card-header {
    @apply flex items-center justify-between px-6 pt-6;
  }
  .card-header:not(.no-border) {
    @apply pb-5 border-b border-slate-200 dark:border-slate-700;
  }
  .card-footer {
    @apply flex items-center justify-between px-6 pt-6 pb-5 border-t border-slate-200 dark:border-slate-700;
  }
  .card-height-auto .card {
    @apply h-min;
  }
  .btn {
    @apply relative px-4 py-2 text-sm font-medium leading-6 capitalize whitespace-normal transition-all duration-150 rounded-sm md:px-6 md:py-3 md:whitespace-nowrap;
  }
  .btn.btn-xl {
    @apply text-[16px] md:px-10 px-7 md:py-4 py-3;
  }
  .btn.btn-sm {
    @apply px-3 py-1 text-xs md:px-4;
  }
  .btn.block-btn {
    @apply block w-full text-center;
  }
  .btn.block-btn span {
    @apply justify-center;
  }
  .btn-dark {
    @apply text-white bg-slate-900 dark:bg-slate-900 dark:hover:bg-opacity-70 hover:ring-2 hover:ring-opacity-80 ring-black-900 hover:ring-offset-1 dark:hover:ring-0 dark:hover:ring-offset-0;
  }
  .btn-primary {
    @apply text-white bg-primary-800 dark:hover:bg-opacity-70 hover:ring-2 hover:ring-opacity-80 ring-primary-800 hover:ring-offset-1 dark:hover:ring-0 dark:hover:ring-offset-0;
  }
  .btn-secondary {
    @apply text-white bg-secondary-500 dark:hover:bg-opacity-70 hover:ring-2 hover:ring-opacity-80 ring-secondary-500 hover:ring-offset-1 dark:hover:ring-0 dark:hover:ring-offset-0;
  }
  .btn-success {
    @apply text-white bg-success-500 dark:hover:bg-opacity-70 hover:ring-2 hover:ring-opacity-80 ring-success-500 hover:ring-offset-1 dark:hover:ring-0 dark:hover:ring-offset-0;
  }
  .btn-info {
    @apply bg-[#0CE7FA] dark:hover:bg-opacity-70  text-white hover:ring-2 hover:ring-opacity-80 ring-[#0CE7FA] hover:ring-offset-1 dark:hover:ring-0 dark:hover:ring-offset-0;
  }
  .btn-warning {
    @apply bg-[#FA916B] dark:hover:bg-opacity-70  text-white hover:ring-2 hover:ring-opacity-80 ring-[#FA916B] hover:ring-offset-1 dark:hover:ring-0 dark:hover:ring-offset-0;
  }
  .btn-danger {
    @apply text-white bg-danger-500 dark:hover:bg-opacity-70 hover:ring-2 hover:ring-opacity-80 ring-danger-500 hover:ring-offset-1 dark:hover:ring-0 dark:hover:ring-offset-0;
  }
  .btn-light {
    @apply bg-slate-100 dark:hover:bg-opacity-70  text-slate-900 hover:ring-2 hover:ring-opacity-80 ring-[#E0EAFF] hover:ring-offset-1 dark:hover:ring-0 dark:hover:ring-offset-0;
  }
  .btn-outline-dark {
    @apply bg-transparent border text-slate-900 dark:text-slate-300 border-black-500 dark:border-slate-600 hover:border-black-500 hover:bg-slate-900 hover:bg-opacity-5;
  }
  .btn-outline-dark.active {
    @apply text-white bg-slate-900 dark:bg-slate-900 dark:text-slate-300;
  }
  [aria-expanded="true"] > .btn-outline-dark {
    @apply text-white bg-slate-900;
  }
  .btn-outline-primary {
    @apply bg-transparent border text-primary-500 border-primary-500 hover:border-primary-500 hover:bg-primary-500 hover:bg-opacity-5;
  }
  .btn-outline-primary.active {
    @apply text-white bg-primary-500;
  }
  [aria-expanded="true"] > .btn-outline-primary {
    @apply text-white bg-primary-500;
  }
  .btn-outline-secondary {
    @apply bg-transparent border text-secondary-500 border-secondary-500 hover:border-secondary-500 hover:bg-secondary-500 hover:bg-opacity-5;
  }
  .btn-outline-secondary.active {
    @apply text-white bg-secondary-500;
  }
  [aria-expanded="true"] > .btn-outline-secondary {
    @apply text-white bg-secondary-500;
  }
  .btn-outline-success {
    @apply bg-transparent border text-success-500 border-success-500 hover:border-success-500 hover:bg-success-500 hover:bg-opacity-5;
  }
  .btn-outline-success.active {
    @apply text-white bg-success-500;
  }
  [aria-expanded="true"] > .btn-outline-success {
    @apply text-white bg-success-500;
  }
  .btn-outline-info {
    @apply bg-transparent text-[#0CE7FA] border border-[#0CE7FA] hover:border-[#0CE7FA]  hover:bg-[#0CE7FA] hover:bg-opacity-5;
  }
  .btn-outline-info.active {
    @apply bg-[#0CE7FA] text-white;
  }
  [aria-expanded="true"] > .btn-outline-info {
    @apply text-white bg-info-500;
  }
  .btn-outline-warning {
    @apply bg-transparent text-[#FA916B] border border-[#FA916B] hover:border-[#FA916B]  hover:bg-[#FA916B] hover:bg-opacity-5;
  }
  .btn-outline-warning.active {
    @apply bg-[#FA916B] text-white;
  }
  [aria-expanded="true"] > .btn-outline-warning {
    @apply text-white bg-warning-500;
  }
  .btn-outline-danger {
    @apply bg-transparent border text-danger-500 border-danger-500 hover:border-danger-500 hover:bg-danger-500 hover:bg-opacity-5;
  }
  .btn-outline-danger.active {
    @apply text-white bg-danger-500;
  }
  [aria-expanded="true"] > .btn-outline-danger {
    @apply text-white bg-danger-500;
  }
  .btn-outline-light {
    @apply bg-transparent  border border-[#E0EAFF] dark:text-white hover:border-[#E0EAFF] text-slate-900 hover:bg-[#E0EAFF] hover:bg-opacity-5;
  }
  .btn-outline-light.active {
    @apply bg-[#E0EAFF] text-slate-900;
  }
  [aria-expanded="true"] > .btn-outline-light {
    @apply bg-[#E0EAFF] text-slate-900;
  }
  .btn.light {
    @apply bg-opacity-[15%]  ring-opacity-30 dark:hover:bg-opacity-10;
  }
  .btn-primary.light {
    @apply text-primary-500 dark:hover:bg-opacity-10;
  }
  .btn-secondary.light {
    @apply text-secondary-500 dark:hover:bg-opacity-10;
  }
  .btn-success.light {
    @apply text-success-500 dark:hover:bg-opacity-10;
  }
  .btn-info.light {
    @apply text-[#0CE7FA] dark:hover:bg-opacity-10;
  }
  .btn-warning.light {
    @apply text-[#FA916B] dark:hover:bg-opacity-10;
  }
  .btn-danger.light {
    @apply text-danger-500 dark:hover:bg-opacity-10;
  }
  .btn-light.light {
    @apply text-opacity-80 dark:text-slate-300 dark:hover:bg-opacity-10;
  }
  .split-btngroup .btn {
    @apply ltr:rounded-r-none rtl:rounded-l-none hover:ring-0;
  }
  .split-btngroup button {
    @apply ltr:last:rounded-r-md rtl:last:rounded-l-md  last:border-l last:border-white last:border-opacity-[0.10];
  }
  .split-btngroup button:hover {
    box-shadow: none !important;
  }
  .split-btngroup [class*="btn-outline-"] {
    @apply ltr:last:border-l-0 rtl:last:border-r-0 focus:bg-transparent focus:text-inherit;
  }
  .split-btngroup .btn-outline-primary {
    @apply focus:text-primary-500 last:border-primary-500;
  }
  .split-btngroup .btn-outline-secondary {
    @apply focus:text-secondary-500 last:border-secondary-500;
  }
  .split-btngroup .btn-outline-success {
    @apply focus:text-success-500 last:border-success-500;
  }
  .split-btngroup .btn-outline-danger {
    @apply focus:text-danger-500 last:border-danger-500;
  }
  .split-btngroup .btn-outline-warning {
    @apply focus:text-warning-500 last:border-warning-500;
  }
  .split-btngroup .btn-outline-info {
    @apply focus:text-info-500 last:border-info-500;
  }
  .split-btngroup .btn-outline-light {
    @apply focus:text-slate-600 last:border-[#E0EAFF];
  }
  .btn-link {
    @apply text-sm font-medium underline text-slate-900 dark:text-white;
  }
  .btn-link.white {
    @apply text-white;
  }
  .action-btn {
    @apply flex flex-col items-center justify-center w-6 h-6 border rounded border-slate-200 dark:border-slate-700;
  }
  .invocie-btn {
    @apply mb-4 mr-3 hover:bg-slate-900 hover:text-slate-100 dark:hover:bg-slate-600;
  }
  .badge {
    @apply py-1 px-2 text-xs  capitalize font-semibold rounded-[.358rem] whitespace-nowrap  align-baseline inline-flex;
  }
  .badge.pill {
    @apply rounded-[999px];
  }
  h1 {
    @apply text-6xl font-semibold text-slate-900 dark:text-slate-300;
  }
  h2 {
    @apply text-5xl font-semibold text-slate-900 dark:text-slate-300;
  }
  h3 {
    @apply text-4xl font-medium text-slate-900 dark:text-slate-300;
  }
  h4 {
    @apply text-3xl font-medium text-slate-900 dark:text-slate-300;
  }
  h5 {
    @apply text-2xl font-medium text-slate-900 dark:text-slate-300;
  }
  h6 {
    @apply text-xl leading-[20px] font-medium text-slate-900 dark:text-slate-300;
  }
  .display-1 {
    @apply text-[70px] leading-[80px] text-slate-900 dark:text-slate-300 font-semibold;
  }
  .display-2 {
    @apply text-[48px] leading-[58px] text-slate-900 dark:text-slate-300 font-semibold;
  }
  .display-3 {
    @apply text-[40px] leading-[48px] text-slate-900 dark:text-slate-300 font-semibold;
  }
  .display-4 {
    @apply text-[40px] leading-[48px] text-slate-900 dark:text-slate-300 font-normal;
  }
  blockquote {
    @apply pl-5 text-xl italic border-l-2 border-gray-500;
  }
  .custom-list {
    @apply relative pl-4 -mx-1;
    list-style: none;
  }
  .custom-list li {
    @apply relative;
  }
  .custom-list li::before {
    @apply absolute ltr:left-0 rtl:right-0;
  }
  ol.custom-list ol,
  ul.custom-list ul {
    @apply mt-3;
  }
  ol.custom-list ol li,
  ul.custom-list ul li {
    @apply ltr:pl-6 rtl:pr-6;
  }
  .lits-by-numbaring {
    counter-reset: listitem;
  }
  .lits-by-numbaring li {
    @apply ltr:pl-[1.3em] rtl:pr-[1.3em] relative -mx-1;
  }
  .lits-by-numbaring li::before {
    counter-increment: listitem;
    content: counters(listitem, ".") ".";
  }
  .lits-by-slash li {
    @apply relative pl-4;
  }
  .lits-by-slash li::before {
    left: 6px;
    content: "-";
  }
  .form-label {
    @apply block w-full mb-1 text-sm font-medium leading-6 capitalize cursor-pointer text-slate-600 dark:text-slate-300 rtl:text-right rtl:block;
  }
  .form-control {
    @apply block w-full px-2 text-sm transition duration-300 ease-in-out bg-white border rounded dark:bg-slate-900 border-slate-200 dark:border-slate-700 dark:text-slate-300 focus:ring-1 focus:ring-slate-600 dark:focus:ring-slate-900 focus:outline-none focus:ring-opacity-90 placeholder:text-slate-400 text-slate-900 placeholder:font-normal dark:placeholder:text-slate-400;
  }
  .input-description {
    @apply block mt-2 text-xs font-light leading-4 text-secondary-500;
  }
  .fromGroup {
    @apply relative;
  }
  .fromGroup.has-error .form-control {
    @apply border-danger-500 focus:ring-danger-500 focus:ring-opacity-90 focus:ring-1;
  }
  .fromGroup.is-valid .form-control {
    @apply border-success-500 focus:ring-success-500 focus:ring-opacity-90 focus:ring-1;
  }
  .form-control[readonly] {
    @apply cursor-pointer bg-slate-200 text-slate-400 dark:bg-slate-600 placeholder:text-slate-400;
  }
  .form-control[disabled] {
    @apply cursor-not-allowed bg-slate-50 text-slate-800 placeholder:text-opacity-60 dark:bg-slate-600;
  }
  .file-control {
    @apply text-sm transition duration-300 ease-in-out bg-transparent border rounded dark:bg-slate-900 dark:text-white border-slate-200 dark:border-slate-700 focus:ring-1 focus:ring-slate-900 dark:focus:ring-slate-900 focus:outline-none focus:ring-opacity-90 ltr:pl-3 rtl:pr-3 placeholder:font-normal;
  }
  .badge-title {
    @apply bg-slate-900 text-white px-2 py-[3px] rounded text-sm;
  }
  .input-group-control {
    @apply px-3 text-sm transition duration-300 ease-in-out bg-white border rounded dark:bg-slate-900 dark:placeholder:text-slate-400 border-slate-200 dark:border-slate-700 focus:ring-0 focus:outline-none placeholder:text-slate-400 text-slate-900 placeholder:font-light focus:border-slate-600 dark:focus:border-slate-900 dark:text-white;
  }
  .fromGroup2.has-error .input-group-control {
    @apply border-danger-500 focus:ring-danger-500 focus:ring-opacity-90 focus:ring-1;
  }
  .fromGroup2.is-valid .input-group-control {
    @apply border-success-500 focus:ring-success-500 focus:ring-opacity-90 focus:ring-1;
  }
  .input-group-control[readonly] {
    @apply bg-slate-200 text-slate-400 dark:bg-slate-600;
  }
  .input-group-control[disabled] {
    @apply cursor-not-allowed bg-slate-50 text-slate-400 placeholder:text-opacity-60 dark:bg-slate-600;
  }
  .input-group-text {
    @apply flex items-center justify-center px-3 text-base font-light transition duration-300 ease-in-out bg-white border dark:bg-slate-900 border-slate-200 dark:border-slate-700 ltr:rounded-tl rtl:rounded-tr rtl:rounded-br ltr:rounded-bl text-slate-400;
  }
  .inputGroup.has-prepend .input-group-control {
    @apply ltr:border-l-0 rtl:border-r-0 ltr:rounded-tl-[0] rtl:rounded-tr-[0] ltr:rounded-bl-[0] rtl:rounded-br-[0];
  }
  .inputGroup.has-prepend-slot .input-group-control {
    @apply ltr:border-l-0 rtl:border-r-0 ltr:rounded-tl-[0] rtl:rounded-tr-[0] ltr:rounded-bl-[0] rtl:rounded-br-[0] focus:ring-0 focus:border-slate-600 dark:focus:border-slate-700;
  }
  .inputGroup.has-append-slot .input-group-control {
    @apply ltr:border-r-0 rtl:border-l-0 ltr:rounded-tr-[0] rtl:rounded-tl-[0] ltr:rounded-br-[0] rtl:rounded-bl-[0] focus:ring-0 focus:border-slate-600 dark:focus:border-slate-700;
  }
  .inputGroup.has-append .input-group-control {
    @apply ltr:border-r-0 rtl:border-l-0 ltr:rounded-tr-[0] rtl:rounded-tl-[0] rounded-br-[0] rtl:rounded-bl-[0];
  }
  .inputGroup.has-append .input-group-addon.right .input-group-text {
    @apply ltr:rounded-tl-[0] ltr:rounded-bl-[0] ltr:rounded-tr ltr:rounded-br rtl:rounded-tl  rtl:rounded-bl rtl:rounded-tr-[0] rtl:rounded-br-[0];
  }
  .inputGroup:focus-within .input-group-text {
    @apply border-black-500 dark:border-slate-900;
  }
  /* .merged .inputGroup:focus-within .input-group-text {
  } */
  .inputGroup.is-invalid .input-group-text {
    @apply border-danger-500;
  }
  .inputGroup.is-invalid:focus-within .input-group-text {
    @apply ring-danger-500;
  }
  .inputGroup.is-valid .input-group-text {
    @apply border-success-500;
  }
  .inputGroup.is-valid:focus-within .input-group-text {
    @apply ring-success-500;
  }
  .prepend-slot .btn,
  .append-slot .btn {
    @apply pt-0 pb-0 h-full items-center hover:ring-0 rounded-tr-[0] rounded-br-[0] -mx-3;
  }
  .prepend-slot > div,
  .prepend-slot button,
  .append-slot > div,
  .append-slot button {
    @apply h-full;
  }
  .input-group-addon.right .append-slot .btn {
    @apply rounded-tl-[0] rounded-bl-[0] rounded-tr rounded-br  -mx-3;
  }
  .merged .input-group-addon .input-group-text {
    @apply ltr:border-r-0 ltr:pr-0 rtl:border-l-0 rtl:pl-0;
  }
  .merged .input-group-addon.right .input-group-text {
    @apply ltr:border-l-0 rtl:border-r-0 ltr:border-r rtl:border-l ltr:pr-3 rtl:pl-3 ltr:pl-0 rtl:pr-0;
  }
  .select-borderless .select__control {
    border: 0;
  }
  .select-borderless .select__control .select__indicators {
    display: none;
  }
  html[dir="rtl"] .select__control .select__loading-indicator {
    flex-direction: row-reverse;
  }
  .pagination {
    @apply flex flex-wrap items-center space-x-4 rtl:space-x-reverse;
  }
  .pagination li .prev-next-btn:disabled {
    @apply opacity-50 cursor-not-allowed;
  }
  .pagination li a,
  .pagination li div,
  .pagination li .page-link {
    @apply bg-slate-100 dark:bg-slate-700 dark:text-slate-400 text-slate-900 text-sm font-normal rounded leading-[16px] flex h-6 w-6 items-center justify-center transition-all duration-150;
  }
  .pagination li a.active,
  .pagination li div.active,
  .pagination li .page-link.active {
    @apply font-medium text-white bg-slate-900 dark:bg-slate-600 dark:text-slate-200;
  }
  .pagination.bordered {
    @apply border border-[#D8DEE6] rounded-[3px] py-1 px-2;
  }
  .pagination.bordered li {
    @apply text-slate-500;
  }
  .pagination.bordered li:first-child button,
  .pagination.bordered li:last-child button {
    @apply flex items-center justify-center w-6 h-6 transition duration-150 rounded hover:bg-slate-900 hover:text-white text-slate-500;
  }
  .pagination.bordered li a,
  .pagination.bordered li div,
  .pagination.bordered li .page-link {
    @apply bg-transparent text-slate-500;
  }
  .pagination.bordered li a.active,
  .pagination.bordered li div.active,
  .pagination.bordered li .page-link.active {
    @apply text-white bg-slate-900;
  }
  .pagination.border-group {
    @apply border border-[#D8DEE6] rounded-[3px]  px-0 space-x-0 rtl:space-x-reverse;
  }
  .pagination.border-group li {
    @apply border-r border-[#D8DEE5] h-full flex flex-col  justify-center px-3  last:border-none text-slate-500;
  }
  .pagination.border-group li a,
  .pagination.border-group li div,
  .pagination.border-group li .page-link {
    @apply w-auto h-auto bg-transparent text-slate-500 dark:text-white;
  }
  .pagination.border-group li a.active,
  .pagination.border-group li div.active,
  .pagination.border-group li .page-link.active {
    @apply text-lg text-slate-900 dark:text-white;
  }
  .breadcrumbs {
    @apply flex items-center space-x-2 text-sm;
  }
  .breadcrumbs li {
    @apply relative flex items-center space-x-2 font-normal capitalize rtl:space-x-reverse;
  }
  .breadcrumbs li .breadcrumbs-icon {
    @apply text-lg text-secondary-500 dark:text-slate-500;
  }
  .legend-ring2
    .apexcharts-legend-series:nth-child(1)
    .apexcharts-legend-marker {
    @apply ring-4 ring-info-500 ring-opacity-30 rtl:ml-4;
  }
  .legend-ring2
    .apexcharts-legend-series:nth-child(2)
    .apexcharts-legend-marker {
    @apply ring-4 ring-warning-500 ring-opacity-30 rtl:ml-4;
  }
  .legend-ring4
    .apexcharts-legend-series:nth-child(1)
    .apexcharts-legend-marker {
    @apply ring-4 ring-primary-500 ring-opacity-30 rtl:ml-4;
  }
  .legend-ring4
    .apexcharts-legend-series:nth-child(2)
    .apexcharts-legend-marker {
    @apply ring-4 ring-warning-500 ring-opacity-30 rtl:ml-4;
  }
  [dir="rtl"] .charts .apexcharts-legend-marker {
    margin-left: 10px !important;
  }
  .app_height {
    height: calc(var(--vh, 1vh) * 100 - 12.1rem);
  }
  .msg-height {
    height: calc(100% - 0px);
  }
  .parent-height {
    height: calc(100% - 200px);
  }
  .dark .ql-snow .ql-stroke {
    @apply stroke-slate-300;
  }
  .dark .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
    @apply bg-slate-700;
  }
  .dark .ql-snow.ql-toolbar button:hover,
  .dark .ql-snow .ql-toolbar button:hover,
  .dark .ql-snow.ql-toolbar button:focus,
  .dark .ql-snow .ql-toolbar button:focus,
  .dark .ql-snow.ql-toolbar .ql-picker-label:hover,
  .dark .ql-snow .ql-toolbar .ql-picker-label:hover,
  .dark .ql-snow.ql-toolbar .ql-picker-item:hover,
  .dark .ql-snow .ql-toolbar .ql-picker-item:hover {
    @apply bg-slate-700;
  }
  .dark .ql-picker-label {
    @apply text-slate-300;
  }
  .dark .ql-snow .ql-picker.ql-expanded .ql-picker-label {
    @apply bg-slate-300 border-slate-700;
  }
  .icon-lists li {
    margin-right: 12px;
    margin-bottom: 12px;
  }
  .date-range-custom {
    @apply relative w-[140px];
  }
  .date-range-custom .input-class {
    @apply opacity-0 cursor-pointer;
  }
  .date-range-custom .container-class {
    @apply w-full h-[44px] bg-white dark:bg-slate-800 before:px-3  before:text-sm before:text-slate-900 rounded cursor-pointer;
  }
  .date-range-custom .container-class:before {
    content: "Weekly";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: calc(50% + 10px);
  }
  .date-range-custom .container-class:after {
    content: url("https://api.iconify.design/heroicons/calendar.svg?width=18&height=18");
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: calc(50% - 30px);
  }
  .date-range-custom .container-class > button {
    @apply hidden;
  }
  .date-range-custom2 {
    @apply relative w-[160px];
  }
  .date-range-custom2 .input-class {
    @apply opacity-0 cursor-pointer;
  }
  .date-range-custom2 .container-class {
    @apply w-full h-[44px] bg-white dark:bg-slate-800 before:px-3  before:text-sm before:text-slate-900 rounded cursor-pointer;
  }
  .date-range-custom2 .container-class:before {
    content: "Select date";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    padding-left: 30px;
    width: 100%;
    text-align: center;
  }
  .date-range-custom2 .container-class:after {
    content: url("https://api.iconify.design/heroicons-outline/filter.svg?width=18&height=18");
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: calc(50% - 43px);
  }
  .date-range-custom2 .container-class > button {
    @apply hidden;
  }
  .dark .date-range-custom .container-class::before,
  .dark .date-range-custom .container-class::after,
  .dark .date-range-custom2 .container-class::before,
  .dark .date-range-custom2 .container-class::after {
    @apply text-slate-300;
  }
  .dark .date-range-custom .container-class:after {
    content: url("https://api.iconify.design/heroicons/calendar.svg?color=white&width=18&height=18");
  }
  .dark .date-range-custom2 .container-class:after {
    content: url("https://api.iconify.design/heroicons-outline/filter.svg?color=white&width=18&height=18");
  }
  .dark .fc-col-header-cell .fc-scrollgrid-sync-inner {
    @apply bg-slate-700 text-slate-300;
  }
  .dark .fc-daygrid-day-top {
    @apply text-slate-300;
  }
  .dark .fc .fc-day-other .fc-daygrid-day-top {
    @apply opacity-70;
  }
  .dark .fc .fc-button-primary {
    @apply border-slate-600 text-slate-300;
  }
  .dark .fc-theme-standard td,
  .dark .fc-theme-standard th {
    @apply border-slate-700;
  }
  .dark .fc .fc-toolbar-title {
    @apply text-slate-300;
  }
  .dark .fc .fc-button-primary:not(:disabled):active,
  .dark .fc .fc-button-primary:not(:disabled).fc-button-active,
  .dark .fc .fc-button-primary:hover {
    background: #0f172a !important;
  }
  .dark .fc .fc-button-primary:disabled {
    background: #334155 !important;
    border-color: #334155 !important;
  }
  .dark .fc .fc-daygrid-day.fc-day-today {
    background: #334155 !important;
  }
  .dark .fc-theme-standard .fc-scrollgrid {
    border-color: #334155 !important;
  }
  .dashcode-calender .primary {
    @apply bg-[#4669FA] border-none text-white text-center px-2 font-medium text-sm;
  }
  .dashcode-calender .secondary {
    @apply bg-[#A0AEC0] border-none text-white text-center px-2 font-medium text-sm;
  }
  .dashcode-calender .danger {
    @apply bg-[#F1595C] border-none text-white text-center px-2 font-medium text-sm;
  }
  .dashcode-calender .info {
    @apply bg-[#0CE7FA] border-none text-white text-center px-2 font-medium text-sm;
  }
  .dashcode-calender .warning {
    @apply bg-[#FA916B] border-none text-white text-center px-2 font-medium text-sm;
  }
  .dashcode-calender .success {
    @apply bg-[#50C793] border-none text-white text-center px-2 font-medium text-sm;
  }
  .dashcode-calender .dark {
    @apply bg-[#222] border-none text-white text-center px-2 font-medium text-sm;
  }
  @media print {
    .invocie-btn {
      display: none;
    }
    .site-footer,
    .shadow-deep {
      @apply hidden;
    }
    .content-wrapper {
      @apply w-full ml-0;
    }
  }
}
